In [1]:
import numpy as np
import pandas as pd
import aif360 as aif
from aif360.datasets import GermanDataset
from aif360.metrics import BinaryLabelDatasetMetric
from sklearn.impute import SimpleImputer
from aif360.sklearn import metrics
from scipy.stats import chisquare
from scipy.stats import f_oneway
import requests
import json
import os
from time import sleep

c:\Users\shour\anaconda3\envs\shourya\Lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\shour\anaconda3\envs\shourya\Lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
c:\Users\shour\anaconda3\envs\shourya\Lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-246-g3d31191b-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"
WARNING:root:No module named 'fairlearn': ExponentiatedGradientReduction will be unavailable. To install, run:
pip install 'aif360[Reductions]'
WARNING:root:No module named 'fairlearn': GridSearchReduction will be unavailable. To install, run:
pip install 'aif360[Reductions]'
WARNING:root:No module named 'inFairness': SenSeI and SenSR will be unavailable. To install, run:
pip install 'aif360[inFairness]'
WARNING:root:No module named 'fairlearn': GridSearchReduction will be unavailable. To install, run:
pip install 'aif360[Reductions]'
WARNING:root:No module named 'ot': ot_distance will be unavailable. To install, run:
pip install 'aif360[OptimalTransport]'

In [2]:
resumes = pd.read_csv('ResumeLinks - ResumeLinks.csv')

In [3]:
resumes

                                                Link
0  https://drive.usercontent.google.com/download?...
1  https://drive.usercontent.google.com/download?...
2  https://drive.usercontent.google.com/download?...
3  https://drive.usercontent.google.com/download?...
4  https://drive.usercontent.google.com/download?...
5  https://drive.usercontent.google.com/download?...
6  https://drive.usercontent.google.com/download?...
7  https://drive.usercontent.google.com/download?...
8  https://drive.usercontent.google.com/download?...
9  https://drive.usercontent.google.com/download?...

In [4]:
url = 'https://dev.api.talentmarx.in/api/v1/ml/extract-text' # Extract text api

In [7]:
for index, row in resumes.iterrows():
    data = {"url" : row['Link']}
    response = requests.post(url, json=data)
    text_from_response = response.text
    resumes.at[index, 'text'] = text_from_response
    if index == 5:
        sleep(5)

In [8]:
resumes

,Link,text
0,https://drive.usercontent.google.com/download?...,"""MYTHILI MURUGESAN Email : mmythilinov19@gmai..."
1,https://drive.usercontent.google.com/download?...,""" Neelesh Kumar Singh Phone: (+91) 9555388069 ..."
2,https://drive.usercontent.google.com/download?...,"""PRIYANKA 2 Years experience in UI development..."
3,https://drive.usercontent.google.com/download?...,"""Priyanshu Tiwari B.Tech, Computer Science tiw..."
4,https://drive.usercontent.google.com/download?...,"""Vardaraj.D Mobile: +91-9886133212 Religion: H..."
5,https://drive.usercontent.google.com/download?...,""" Mr. Ramu Vinod Vishwakarma Age: 34 Religion..."
6,https://drive.usercontent.google.com/download?...,"""Sagar Namdev Khairnar Age: 37 Religion: Hindu..."
7,https://drive.usercontent.google.com/download?...,""" Name : SAKTHIVADIVEL GANESAN Position : Seni..."
8,https://drive.usercontent.google.com/download?...,"""SHRUTI AGRAWAL Front End UI Developer Age: 3..."
9,https://drive.usercontent.google.com/download?...,""" Curriculum Vitae Tanmay Kundu UI DEVELOPER A..."

In [9]:
resumes['Link'][0]

'https://drive.usercontent.google.com/download?id=1euDfjYuauNW0RU13m4ZpSYImDefguV-e&export=download&authuser=0'

In [10]:
job_description = '''As a UI Developer (UI-D) at WWS, we are looking for a dynamic UI designer who will be responsible for the user interface (UI) and user experience (UX) design of our SaaS platforms. You will ensure that all elements of the online user experience are optimized for improved usability, usefulness, and exceptional visual design.You will evidence a passion for delivering adaptive and creative solutions to UI/UX design problems by staying up to date with best practices and emerging trends in user experience design and user interface technology.

What We Expect
• Preferably a degree in Graphic Design, Human-Computer Interaction, or Any Graduate within a related field..
• Strong portfolio showcasing your UI/UX design and development work
• Expertise in design tools such as Sketch, Adobe XD, Figma, or similar
• Proficiency in HTML, CSS, and JavaScript, with experience in responsive design and mobile-first development
• Strong understanding of user-centered design principles and best practices
• Excellent communication and collaboration skills, with the ability to effectively explain design decisions and concepts to both technical and non-technical stakeholders
• Detail-oriented and highly organized, with strong problem-solving skills and the ability to manage multiple projects simultaneously
• Flexibility in shifts would be a great advantage.

A UI Designer’s Ideal Day At WWS

Design Requirements.

Design and develop visually appealing and user-friendly interfaces for SaaS applications, ensuring a seamless user experience.

Collaborate with the product management, development, and marketing teams to understand user needs, gather requirements, and translate them into functional designs.

Create wireframes, mockups, prototypes, and user flows to effectively communicate design ideas and concepts to the team.

Utilize best practices and design principles to ensure consistency across all products and platforms.

Conduct user testing and gather feedback to identify areas for improvement and optimize the user experience.

Stay up-to-date with the latest UI/UX design trends, techniques, and technologies to ensure our products remain cutting-edge and competitive in the market.

Assist in the creation and maintenance of design systems and style guides to streamline and standardize the design process.

Tailored Requirements. To collaborate with the product development team and its stakeholders to ensure the creation and delivery of tailored experiences for the digital users. Testing UI elements such as layouts, navigations, tabs and engineering to define and implement innovative solutions for the product direction, visuals and experience.

User Research. Present and defend designs and key milestone deliverables to peers and management, Conduct user research and evaluate user feedbacks for better experience and aesthetic improvements.

Prototype & test. Prototyping to showcase the design interactions in real-time and also for testing on real time feasibility. Testing helps find weaknesses in the design and ensures that the final product meets projected expectations.

What You Can Expect
• Full-time, salaried position creamed with welfare programs.
• Competitive salary and module specific training in the core space with recognition potential and annual bonus.
• Performance appraisals.
• Attendance Incentives.
• Working with the best talent in the industry
• Conducive intangible environment with dynamic benefits.

Why Consider a UI Designer Career With WWS?

With a very appealing work environment at WWS, our setting made it easier to build relationships with other staff members and clients. You may also have an opportunity to learn other aspects of medical office work on the job, which can enhance your experience and qualifications.

UI designers are the bridge between user needs and business outcomes. They help to gather requirements and develop designs for different platforms or devices that work in tandem with engineers' wireframes and codebase implementation plans; they also provide feedback on these decisions through sketches & prototypes.

Job Types: Full-time, Fresher

Salary: ₹15,000.00 - ₹25,000.00 per month

Benefits:
• Provident Fund

Schedule:
• Day shift

Supplemental pay types:
• Performance bonus

Education:
• Bachelor's (Preferred)

Experience:
• total work: 1 year (Preferred)
• UX: 1 year (Preferred)
• HTML5: 1 year (Preferred)

Ability to Commute:
• Vellore, Tamil Nadu (Required)

Ability to Relocate:
• Vellore, Tamil Nadu: Relocate before starting work (Required)

Work Location: In person'''

In [11]:
url = 'https://dev.api.talentmarx.in/api/v1/ml/similarity/' #score api

In [12]:
for index, row in resumes.iterrows():
    data = {
      "queryDocumentString": job_description,
      "documentStrings": [
        row['text']
      ]
    }
    response = requests.post(url, json=data)
    text_from_response = eval(response.text)
    resumes.at[index, 'score'] = text_from_response['similarities']
    if index == 5:
        sleep(5)

In [13]:
resumes

,Link,text,score
0,https://drive.usercontent.google.com/download?...,"""MYTHILI MURUGESAN Email : mmythilinov19@gmai...",0.593040
1,https://drive.usercontent.google.com/download?...,""" Neelesh Kumar Singh Phone: (+91) 9555388069 ...",0.648215
2,https://drive.usercontent.google.com/download?...,"""PRIYANKA 2 Years experience in UI development...",0.467100
3,https://drive.usercontent.google.com/download?...,"""Priyanshu Tiwari B.Tech, Computer Science tiw...",0.528707
4,https://drive.usercontent.google.com/download?...,"""Vardaraj.D Mobile: +91-9886133212 Religion: H...",0.584412
5,https://drive.usercontent.google.com/download?...,""" Mr. Ramu Vinod Vishwakarma Age: 34 Religion...",0.565700
6,https://drive.usercontent.google.com/download?...,"""Sagar Namdev Khairnar Age: 37 Religion: Hindu...",0.647271
7,https://drive.usercontent.google.com/download?...,""" Name : SAKTHIVADIVEL GANESAN Position : Seni...",0.618456
8,https://drive.usercontent.google.com/download?...,"""SHRUTI AGRAWAL Front End UI Developer Age: 3...",0.657178
9,https://drive.usercontent.google.com/download?...,""" Curriculum Vitae Tanmay Kundu UI DEVELOPER A...",0.500344

In [14]:
url = 'https://dev.rp.talentmarx.in/post_json' #data extraction api

In [15]:
def read_json_files(directory):
    df = pd.DataFrame(columns=['gender', 'degree', 'institute', 'year'])
    for filename in os.listdir(directory):
        if filename.endswith('.json'):
            file_path = os.path.join(directory, filename)
            with open(file_path, 'r') as file:
                try:
                    data = json.load(file)
                    gender = data['ResumeParserData']['Gender']
                    if len(data['ResumeParserData']['SegregatedQualification']) > 0:
                        degree = data['ResumeParserData']["SegregatedQualification"][0]["Degree"]["NormalizeDegree"]
                        institute = data['ResumeParserData']["SegregatedQualification"][0]['Institution']['Name']
                    else:
                        degree, institute = '', ''
                    year = data['ResumeParserData']['DateOfBirth'][-4:]
                    city = data['ResumeParserData']['Address'][0]['City']
                    employer = data['ResumeParserData']["CurrentEmployer"]
                    experience = data['ResumeParserData']["WorkedPeriod"]["TotalExperienceInYear"]
                    exp_range = data['ResumeParserData']["WorkedPeriod"]["TotalExperienceRange"]
                    
                    gender = gender if gender != '' else np.nan
                    degree = degree if degree != '' else np.nan
                    institute = institute if institute != '' else np.nan
                    year = year if year != '' else np.nan
                    city = city if city != '' else np.nan

                    row = pd.DataFrame([{
                        'gender' : gender,
                        'degree' : degree,
                        'institute' : institute,
                        'year' : year,
                        'city' : city,
                        'employer' : employer,
                        'experience' : experience,
                        'experience_range' : exp_range
                    }])
                    df = pd.concat([df, row], ignore_index=True)
                except json.JSONDecodeError as e:
                    print(f"Error reading {file_path}: {e}")
    return df

In [16]:
directory_path = 'resumes/parsed_json'
df = read_json_files(directory_path)

In [32]:
df.head()

,gender,degree,institute,year,city,employer,experience,experience_range,age,score,Selected
0,Female,Bachelor of Computer Applications,Indira Gandhi National Open University,1986,Noida,Kronos Pvt. Ltd.,1,GREATER THAN 10 YEAR,1,0.657178,1.0
1,Male,Bachelor of Technology,Guru Gobind Singh Indraprastha University,1990,New Delhi,Centurylink - Onsite Bharti Airtel,1,GREATER THAN 10 YEAR,0,0.648215,1.0
2,Male,NaN,NIIT Global NIIT course in Software Technology...,NaN,NaN,PRDXN,1,GREATER THAN 10 YEAR,0,0.647271,1.0
3,Male,Master of Computer Applications,Bharathidasan University,1984,NaN,IDrive Software,1,GREATER THAN 10 YEAR,1,0.618456,1.0
4,Female,Higher Secondary school Certificate,Saratha Higher Secondary School,1989,NaN,Marlabs Software Pvt Ltd,1,GREATER THAN 10 YEAR,0,0.593040,0.0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            10 non-null     object
 1   degree            9 non-null      object
 2   institute         9 non-null      object
 3   year              8 non-null      object
 4   city              6 non-null      object
 5   employer          10 non-null     object
 6   experience        10 non-null     object
 7   experience_range  10 non-null     object
dtypes: object(8)
memory usage: 772.0+ bytes

In [19]:
from datetime import date 
todays_date = date.today() 
current_year = todays_date.year

for index, row in df.iterrows():
    born = df.at[index, 'year']
    years = df.at[index, 'experience']
    try:
        df.at[index, 'age'] = current_year - int(born)
    except (ValueError, TypeError):
        df.at[index, 'age'] = born
    try:
        df.at[index, 'experience'] = float(years)
    except (ValueError, TypeError):
        df.at[index, 'age'] = years

In [20]:
df.head()

,gender,degree,institute,year,city,employer,experience,experience_range,age
0,Female,Higher Secondary school Certificate,Saratha Higher Secondary School,1989,NaN,Marlabs Software Pvt Ltd,12.6,GREATER THAN 10 YEAR,35.0
1,Male,Bachelor of Technology,Guru Gobind Singh Indraprastha University,1990,New Delhi,Centurylink - Onsite Bharti Airtel,10.9,GREATER THAN 10 YEAR,34.0
2,Female,Bachelor of Technology,NaN,NaN,NaN,TATA CONSULTANCY SERVICES,3.1,3-5 YEAR,NaN
3,Male,Bachelor of Technology,SIR PADAMPAT SINGHANIA UNIVERSITY,1991,Bangalore,Canvera Digitial Technologies Pvt Ltd,10.4,GREATER THAN 10 YEAR,33.0
4,Male,Master of Science,Kuvempu university,1986,Bangalore,Bangalore University,3.9,3-5 YEAR,38.0

In [21]:
df = pd.concat([df, resumes['score']], axis=1)

In [22]:
df = df.sort_values(by="score", ascending=False)
df.head()

,gender,degree,institute,year,city,employer,experience,experience_range,age,score
8,Female,Bachelor of Computer Applications,Indira Gandhi National Open University,1986,Noida,Kronos Pvt. Ltd.,11.1,GREATER THAN 10 YEAR,38.0,0.657178
1,Male,Bachelor of Technology,Guru Gobind Singh Indraprastha University,1990,New Delhi,Centurylink - Onsite Bharti Airtel,10.9,GREATER THAN 10 YEAR,34.0,0.648215
6,Male,NaN,NIIT Global NIIT course in Software Technology...,NaN,NaN,PRDXN,12.8,GREATER THAN 10 YEAR,NaN,0.647271
7,Male,Master of Computer Applications,Bharathidasan University,1984,NaN,IDrive Software,17.4,GREATER THAN 10 YEAR,40.0,0.618456
0,Female,Higher Secondary school Certificate,Saratha Higher Secondary School,1989,NaN,Marlabs Software Pvt Ltd,12.6,GREATER THAN 10 YEAR,35.0,0.593040

In [23]:
df.isna().sum()

gender              0
degree              1
institute           1
year                2
city                4
employer            0
experience          0
experience_range    0
age                 2
score               0
dtype: int64

In [24]:
df.reset_index(drop=True, inplace=True)

In [25]:
max_selection = 4
old_age = 35
for index, _ in resumes.iterrows():
    df.at[index, "Selected"] = 1 if index < max_selection else 0
df['age'] = df['age'].apply(lambda x: 1 if x > 35 else 0)
df['experience'] = df['experience'].apply(lambda x: 1 if x > 5 else 0)

In [26]:
df.head()

,gender,degree,institute,year,city,employer,experience,experience_range,age,score,Selected
0,Female,Bachelor of Computer Applications,Indira Gandhi National Open University,1986,Noida,Kronos Pvt. Ltd.,1,GREATER THAN 10 YEAR,1,0.657178,1.0
1,Male,Bachelor of Technology,Guru Gobind Singh Indraprastha University,1990,New Delhi,Centurylink - Onsite Bharti Airtel,1,GREATER THAN 10 YEAR,0,0.648215,1.0
2,Male,NaN,NIIT Global NIIT course in Software Technology...,NaN,NaN,PRDXN,1,GREATER THAN 10 YEAR,0,0.647271,1.0
3,Male,Master of Computer Applications,Bharathidasan University,1984,NaN,IDrive Software,1,GREATER THAN 10 YEAR,1,0.618456,1.0
4,Female,Higher Secondary school Certificate,Saratha Higher Secondary School,1989,NaN,Marlabs Software Pvt Ltd,1,GREATER THAN 10 YEAR,0,0.593040,0.0

In [27]:
def check_bias(colname, group):
    temp_df = df[[colname, 'Selected']]
    temp_df = temp_df.dropna()
    parity_diff = metrics.statistical_parity_difference(temp_df['Selected'], prot_attr=temp_df[colname], priv_group=group)
    disparate_impact = metrics.disparate_impact_ratio(temp_df['Selected'], prot_attr=temp_df[colname], priv_group=group)
    kl_divergence = metrics.kl_divergence(y_true=temp_df['Selected'], prot_attr=temp_df[colname], priv_group=group)
    if parity_diff > 0.05 or parity_diff < -0.05:
        print("Statical Parity difference bias exists at {}".format(parity_diff))
    if disparate_impact > 1.2 or parity_diff < 0.8:
        print("Disparate impact ratio bias exists at {}".format(disparate_impact))
    print("The distributions differ by {}".format(kl_divergence))

In [28]:
check_bias('age', 0)

Statical Parity difference bias exists at 0.16666666666666669
Disparate impact ratio bias exists at 1.5
The distributions differ by 0.056633012265132426

In [29]:
check_bias('gender', 'Female')

Statical Parity difference bias exists at 0.09523809523809523
Disparate impact ratio bias exists at 1.2857142857142858
The distributions differ by 0.018995643791203554

In [30]:
check_bias('experience', 1)

Statical Parity difference bias exists at -0.5
Disparate impact ratio bias exists at 0.0
The distributions differ by inf

In [31]:
aif.detectors.bias_scan(df.drop(columns=['Selected', 'score']), df['Selected'])

({'employer': ['',
   'Bangalore University',
   'Canvera Digitial Technologies Pvt Ltd',
   'Marlabs Software Pvt Ltd',
   'TATA CONSULTANCY SERVICES',
   'Wipro Technologies'],
  'gender': ['Female', 'Male'],
  'experience_range': ['3-5 YEAR', '8-10 YEAR', 'GREATER THAN 10 YEAR'],
  'experience': [0, 1],
  'age': [0, 1],
  'degree': ['Bachelor of Science',
   'Bachelor of Technology',
   'Higher Secondary school Certificate',
   'Master of Computer Applications',
   'Master of Science']},
 3.059)